.header {
  margin: 0;
  border-style: inset;
  background-color: #0a2540;
  font-size: x-large;
  padding: 0.5em;
  border: 0.1em solid lightgray;
  font-variant: petite-caps;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.heading {
  color: white;
  font-size: xx-large;
  cursor: pointer;
  display: flex;
}

.inputContainer {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 50%;
}

.cart-div {
  cursor: pointer;
  color: white;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.cart-relative {
  position: relative;
}

.cart-count {
  position: absolute;
  color: red;
  font-weight: 900;
  font-size: x-large;
  left: 1em;
  top: 0.8em;
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .heading {
    order: 1;
  }

  .inputContainer {
    order: 3;
    flex-basis: 300px;
    align-self: center;
  }

  .cart-div {
    order: 2;
  }
}
