.header {
  margin: 0;
  border-style: inset;
  background-color: #0a2540;
  font-size: x-large;
  padding: 0.5em;
  border: 0.1em solid lightgray;
  font-variant: petite-caps;
}

.heading {
  color: white;
  font-size: xx-large;
  cursor: pointer;
}

.cart-icon {
  margin: auto;
  cursor: pointer;
  color: white;
}

.search-text {
  width: 100%;
  border-color: black;
  outline: none;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 70%;
}

.inputContainer {
  padding: 0;
}
