.card {
  align-items: center;
  padding: 0;
}

.card-body {
  text-align: center;
}

.card-img-top {
  width: 12em;
  height: 16em;
  border: 0.1em solid lightgray;
}

.add-cart-button,
.add-cart-button:hover {
  background-color: #0a2540;
  color: white;
}

.disable {
  background-color: lightgray;
  pointer-events: none;
  color: black;
  border: 0.1em solid #0a2540;
}
