.footer {
  background-color: #0a2540;
  height: 8.3em;
}

.text-footer {
  margin: 0;
  font-size: large;
  color: white;
}

.footer-line {
  margin-bottom: 0;
}

a {
  color: lightgray;
  padding: 0.5em;
}
